.radar-chart .area {
    fill-opacity: 0.5;
  }
  .radar-chart.focus .area {
    fill-opacity: 0.3;
  }
  .radar-chart.focus .area.focused {
    fill-opacity: 0.9;
  }
  .area.kkt, .kkt .circle {
    fill: #FFD700;
    stroke: none;
  }
  .area.mincheol, .mincheol .circle {
    fill: #ADD8E6;
    stroke: none;
  }
  .area.army, .army .circle {
    fill: #FFD700;
    stroke: none;
  }
  .area.navy, .navy .circle {
    fill: #0c18b9c2;
    stroke: none;
  }
  .area.airforce, .airfoce .circle {
    fill: #079442ce;
    stroke: none;
  }